*{
    margin: 0;
    padding: 0;
}
html{
    font-size:31.25vw;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: #232323;
}
img{
    border: none;
}
